<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcesaSesion</servlet-name>
        <servlet-class>servlets.ProcesaSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Core</servlet-name>
        <servlet-class>servlets.Core</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>entidadActiva</servlet-name>
        <servlet-class>servlets.entidadActiva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>top5</servlet-name>
        <servlet-class>servlets.top5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarSolicitudRegistrada</servlet-name>
        <servlet-class>servlets.ProcesarSolicitudRegistrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudesProceso</servlet-name>
        <servlet-class>servlets.SolicitudesProceso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesaSesion</servlet-name>
        <url-pattern>/comprobando/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/entidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org/entidades/top5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org/solicitudes/pendientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org/solicitudes/enproceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>top5</servlet-name>
        <url-pattern>/reportes/top5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org/user/nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/entidad/solicitud/nueva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/entidad/solicitud/nueva/procesando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarSolicitudRegistrada</servlet-name>
        <url-pattern>/org/solicitudes/pendientes/procesando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudesProceso</servlet-name>
        <url-pattern>/org/solicitudes/enproceso/procesando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/entidad/usuario/nuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Core</servlet-name>
        <url-pattern>/org/entidades/mapa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
