form{
	background: rgba(50,50,50,0.5);
	display: inline-block;
	width: 300px;
	border-radius: 5px;
	margin-top: 30px;
}

#error{
	display: inline-block;
	text-align: center;
	border-color: red;
	border-style: solid;
	margin-top: 20px;
}

form label{
	display: inline-block;
	padding: 1px;
	width: 200px;
	font-size: 20px;
}

form input{
	font-size: 20px;
	display: inline-block;
	margin-top: 10px;
}

#formulario{
	text-align: center;
	display: block;
}

#f{
	display: block;
}